<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.rmj.guanzongroup.bullseye">

    <application>
        <activity android:name=".Activities.Activity_Branch"
            android:theme="@style/BullsEyeMaterialTheme"
            android:screenOrientation="userPortrait"
            tools:ignore="InnerclassSeparator" />
        <activity android:name=".Activities.Activity_Area"
            android:theme="@style/BullsEyeMaterialTheme"
            android:screenOrientation="userPortrait"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>